//spoiler styles
.js-spoiler-closed{
  opacity: 0;
  z-index: -1;
  @include transform(scale(0));
  @include transition(transform .3s, opacity .5s, z-index .5s);
}
.js-spoiler-open{
  opacity: 1;
  z-index: 0;
  @include transform(scale(1));
  @include transition(transform .3s, opacity .5s, z-index .5s);
}
