@mixin block-shadow{
  box-shadow:0 0 15px 0 rgba($text-main,0.2);
}

@mixin font-size($fsz){
  font-size:$fsz;
  font-size:rem($fsz);
}
@mixin line-height($lnhgt){
  line-height:$lnhgt;
  line-height:rem($lnhgt);
}

@mixin font-weight($type){
  @if $type == "700" {
    font-weight: 700;
  } @else if $type == "700i" {
    font-weight: 700;
    font-style:italic;
  } @else if $type == "400i" {
    font-weight: 400;
    font-style: italic;
  } @else {
    font-weight: 400;
  }
}


@mixin mobile {
  @media (max-width: $mobile-max){
    @content
  }
}
@mixin tablet-min{
  @media (min-width: $tablet-min) {
    @content
  }
}
@mixin desktop{
  @media (min-width: $desktop-min) {
    @content
  }
}

@mixin column-width($col, $global-columns:12){
  $column-width: 100%/$global-columns * $col;
  width: $column-width;
}


/*Buttons mixin*/
@mixin button($theme){

  @if $theme == blue {

    $bg-normal:#81b3d2;
    $bg-hover:#669ec0;
    $bg-down:#5496bd;

    $color-down:#88b6d1;

    background-color: $bg-normal;
    color: $white;
    @include transition(color .4s, background-color .4s);

    &:hover{
      background-color: $bg-hover;
      @include transition(color .4s, background-color .4s);
    }

    &:active{
      background-color: $bg-down;
      color: $color-down;
      @include transition(color .4s, background-color .4s);
    }


  } @else if $theme == brown {
    $bg-normal:#766357;
    $bg-hover:#604e43;
    $bg-down:#503e33;

    $color-down:#857871;

    background-color: $bg-normal;
    color: $white;
    @include transition(color .4s, background-color .4s);

    &:hover{
      background-color: $bg-hover;
      @include transition(color .4s, background-color .4s);
    }

    &:active{
      background-color: $bg-down;
      color: $color-down;
      @include transition(color .4s, background-color .4s);
    }
  } @else {
    $bg-normal:transparent;
    $bg-hover:$white;

    $color-hover:$black;

    background-color: $bg-normal;
    color: $white;
    border: rem(2px) solid $white;
    border-radius: rem(2px);
    @include transition(color .4s, background-color .4s);

    &:hover{
      background-color: $bg-hover;
      color: $color-hover;
      @include transition(color .4s, background-color .4s);
    }

  }
}
