.about-info{
  display: flex;
  min-height: rem(330px);

  @include mobile{
    flex-wrap: wrap;
    min-height: 0;
  }

  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: inherit;
    @include column-width(4);
    text-align: center;

    @include mobile{
      @include column-width(12);
    }
  }
}

.item-info{
  padding: 0 rem(50px);
  @include mobile{
    padding:rem(30px) rem(20px);
  }

  &__img,
  &__caption{
    display: flex;
    flex-direction:column;
    align-self: center;
  }
  &__title,
  &__desc{
    display: block;
    width: 100%;
    text-transform: uppercase;
  }

  &__img{
    margin-bottom: rem(30px);
  }
  &__caption{
    min-width: 100%;
  }
  &__title{
    margin-bottom:rem(30px);
    @include font-size(21px);
    @include font-weight($font-bold);
  }
  &__desc{

  }

  &_w-ico{
    background: $white;
  }
}
